.line {
	border: 2px dotted black;
/* 	width: 400px; */
/*	border-left: 4px dotted black;*/
	height: 400px;
	position: fixed; /* fix the position regardless of scroll*/ 
  	top: 20px;       /* 20 pixels from the top of the page */ 
  	left: 450px;     /* 400 pixels from the left of the page */ 
}
h5, h4, p, ul {
  position:relative;
  top: 20px;    /* This is also relative to the image and line 
									so we might want to set it to 0px */  
  left: 480px; 
  width: 200px;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
}
ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}
.box {
	border: 4px dotted black;
	height: 400px;
	width: 500px;
	position: fixed;
	top: 20px;
	right: 350px;
}
img{
  top: 0px;
  position: absolute;
}


